@import '../../public/src/stylesheets/const';

#index {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    font-size: 30px;
    .logo {
      height: 120px;
      display: block;
      margin: auto;
      border: 3px solid rgb(138, 127, 105);
      border-radius: 50%;
    }
    .head-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 2px 2px 8px #04469b;
      margin: 0 auto 50px auto;
      padding: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: url(http://47.100.243.94:3011/uploads/1600000863586.jpg) no-repeat;
        box-shadow: 2px 2px 8px #04469b;
        background-size: 100%;
      }
    }
    .other>div{
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 2px 2px 5px #04469b;
      margin: 30px;
      padding: 10px;
      position: relative;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        transition: 0.3s transform;
      }
    }
    .er-code {
      width: 100px;
      height: 100px;
      background-color: #fff;
      position: absolute;
      bottom: -150px;
      left: (100 - 65px)/-2;
      box-shadow: 1px 1px 5px #04469b;
      opacity: 0;
      transition: 0.8s;
    }
    .other>div:hover {
      >img {
        transform: scale(1.3);
      }
      .er-code {
        transform: translateY(-30px);
        opacity: 0.9;
      }
    }
  }
  .icp {
    position: absolute;
    bottom: 20px;
    a {
      color: rgb(226, 226, 226);
      font-size: 13px;
    }
    a:hover {
      color: #fff;
    }
  }
}

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}