$primary: #409EFF;
$suc: #19be6b;
$warning: #ff9900;
$error: #F56C6C;
$info: #909399;
$dream: #c489f4; 
$main_deep: #04469b;

$color-list: ('primary': $primary, 
             'suc': $suc, 
             'warning': $warning, 
             'error': $error, 
             'info': $info, 
             'dream': $dream);

// $group-blue: ('1': #144a74, 
//               '2': #15559a, 
//               '3': #2775b6, 
//               '4': #158bb8, 
//               '5': #66a9c9, 
//               '6': #8abcd1);

$blue1: #144a74;
$blue2: #15559a;
$blue3: #2775b6;
$blue4: #158bb8;
$blue5: #66a9c9;
$blue6: #8abcd1;