@import '../../public/src/stylesheets/const';
.list_wrap {
  padding: 15px;
  box-sizing: border-box;
  -ms-overflow-style:none;
}
.list_box {
  width: 100%;
  background-color:#fff;
  box-shadow: 0 0 5px $main-deep;
  min-height: calc(100vh - #{30px});
}
::-webkit-scrollbar{
  display:none;
}

.essay-detail {
  display: flex;
  .catalog {
    width: 20%;
    height: 400px;
    border-right: 1px solid #333;
  }
  .content {
    width:80%;
    height: 400px;
    border: 1px solid #999;
    h2 {
      font-size: 25px;
    }
  }
}