@import '../../public/src/stylesheets/const';
.list_wrap {
  padding: 15px;
  box-sizing: border-box;
  -ms-overflow-style:none;
}
.list_box {
  width: 100%;
  background-color:#fff;
  box-shadow: 0 0 5px $main-deep;
  min-height: calc(100vh - #{30px});
}
::-webkit-scrollbar{
  display:none;
}

.essay-detail {
  // display: flex;
  position: relative;
  .catalog {
    width: 20%;
    position:absolute;
    top:0;
    left:0;
    background-color: red;
    height: 100px;
  }
  .content:hover {
    box-shadow: 0 0 12px #999;
  }
  .content {
    width:70%;
    margin: 0 24%;
    padding: 60px 10%;
    transition: 1s all;
    box-sizing: border-box;
    opacity: 0;
    position: relative;
    top: -40px;
    background: #fff url('../../public/src/images/tile.png');
    animation: 1.2s enter_left forwards;
    box-shadow: 0 0 8px #999;
    border-radius: 10px;
    h2 {
      font-size: 25px;
    }
    .content-time {
      font-size: 15px;
      color: #999;
      >span {
        display: inline-block;
        margin: 20px 8px;
      }
    }
  }
  .content-d {
    font-size: 18px;
    color: #333;
    line-height: 2;
  }
}
